body {
	font-family: Roboto;
	color: black;
	background-color: rgb(28,34,53);
	position: relative;
	top: -8px;
	margin: 0px;
}

.universum {
	width: 80%;
	margin: 0px auto 0px auto;
	background-color: rgb(240,240,240);
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

.title {
	font-size: 30pt;
	font-weight: lighter;
}

.subtitle {
	font-size: 20pt;
	font-weight: lighter;
	margin-bottom: 20px;
}

.skill-image {
	height: 70px;
	margin-right: 20px;
}

.link-image {
	height: 26px;
	margin-right: 20px;
	margin-left: 10px;
}

.link-description {
	font-size: 14pt;
	text-decoration: none;
	color: black;
	position: relative;
	top: -6px;
}

.link-description:hover {
	color: rgb(213,25,28);
}

.footer {
	width: 86%;
	margin: 0px auto 0px auto;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgb(240,240,240);
	text-align: center;
	font-size: 11pt;
}

@media (max-width: 1000px) {

.universum {
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.footer {
	width: 100%;
}

}

@media (max-width: 900px) {

.universum {
	width: 92%;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 4%;
	padding-bottom: 4%;
}

.footer {
	width: 100%;
}

}

@media (max-width: 700px) {

.universum {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.skill-image {
	height: 50px;
	margin-right: 20px;
}

.footer {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}

}
