body {
	font-family: Calibri;
	margin: 0px;
	background-color: rgb(42,40,63);
}

.universum {
	margin: 0px auto 0px auto;
}

.content {
	width: 80%;
	margin: 0px auto 0px auto;
	text-align: center;
}

.new-year div {
	background-color: rgb(204,204,204);
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100px;
	text-align: center;
	font-size: 50pt;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: rgb(42,40,63);
}

.new-year-names div {
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100px;
	text-align: center;
	font-size: 14pt;
	text-transform: uppercase;
	color: rgb(204,204,204);
	border-bottom: solid 1px rgb(204,204,204);
}

@media all and (max-width: 1250px) {

.content {
	width: 71.5%;
	padding-left: 1.75%;
	padding-right: 1.75%;
}

}

@media all and (max-width: 1100px) {
	
.content {
	width: 81%;
	padding-left: 2%;
	padding-right: 2%;
}

}

@media all and (max-width: 700px) {

.content {
	width: 89%;
	margin: 94px auto 0px auto;
	padding-left: 3%;
	padding-right: 3%;
}

}

@media all and (max-width: 500px) {
	
.content {
	width: 87%;
	margin: 217px auto 0px auto;
	padding-left: 4%;
	padding-right: 4%;
}
	
}
